.kuiPanelResizer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 13px;
  -ms-flex: 0 0 13px;
  flex: 0 0 13px;

  cursor: ew-resize;
  background-color: #D3DAE6;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  height: 100%;
}
