.kuiDateIntervalWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  .kuiDateIntervalContent {
    width: 100%;
    max-width: 600px;

    .kuiDateIntervalTitle {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 18px;
      color: #2D2D2D;
    }

    .kuiDateIntervalMenu {
      float: left;
      padding: 0 15px;

      .kuiDateIntervalSection {
        float: left;
        padding: 0 15px;
      }

      .uiUnstyled {
        padding-left: 0;
        list-style: none;

        li {
          &.selected {
            background-color: #006BB4;
            color: #ffffff;
            padding: 0.2em 0.4em;
            border-radius: 4px;

            a {
              color: #ffffff;
            }
          }
          
        }
      }
    }
  }
}
